/* Generic dividers styles */

.content-divider {
  height: 1px;
  margin: rem-calc(15) 0 rem-calc(20);
  background: #eee;
}

.v-line-between {
  display: inline-block;
  position: relative;
  font-size: rem-calc(10);
  font-weight: 300;
  padding: 0.2em 0.6em;

  .v-line-between-text {
    display: block;
    // position: absolute;
    color: rgba(white, 0.6);
    text-transform: uppercase;
    text-align: center;
  }
}

.line-divider-center {
  display: block;
  width: rem-calc(120);
  height: 1px;
  margin: auto;
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(20);
  background: rgba(black, 0.2);

  &.line-divider-white {
    background-color: rgba(white, 0.4);
  }
}

.btn-divider-text {
  margin-left: rem-calc(5);
  margin-right: rem-calc(5);
  line-height: 1.5;
  font-weight: 300;
  vertical-align: middle;
  color: rgba(black, 0.3);
}

