// TWBS Dropdown tweaks
.dropdown-menu {
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.dropdown-menu > li .fa {
  width: 16px;
  color: #bbb;
}

.dropdown-menu > li > a {
  outline: none;
  padding: rem-calc(3) rem-calc(20) rem-calc(3) rem-calc(15);
  cursor: pointer;
}

.dropdown-menu > li, .dropdown-menu > li.active {
  a:hover, a:focus, &.active a, &.active a:hover, &.active a:focus {
    background: $theme-color;
    color: white;

    .fa {
      color: white;
    }
  }
}

.dropdown-menu .dropdown-header.action-group {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  background: #f5f5f5;
}
