Dear #{@candidate_name}
The application you submitted for the #{@job_name} position has not
been accepted by #{@company_name}.
Please do not hesitate to send applications for other positions,
and thank you for participating in the Bridge program.
Sincerely,
ITU Staff.
