Dear #{@rep_name}
%br/
We would like to welcome #{@company_name} as a member of ITU Bridge.
Logging in to your account will now redirect you to your dashboard,
where all of ITU Bridge's features will be available.
%br
Once again, thank you for participating in the Bridge program.
Sincerely,
ITU Staff.
%br/
