Dear #{@rep_name}
%br/
You have being invited to be #{@company_name} representative on ITU Bridge.
Logging in to your account will now redirect you to your dashboard,
where all of ITU Bridge's company features will be available.
Once again, thank you for participating in the Bridge program.
%br/
Sincerely,
ITU Staff.
