Thank you for applying to join ITU Bridge. Your application for #{@company_name}
is currently being reviewed by our staff. We will send an email notifying you
of the status of your application shortly.
