<ul class="nav navbar-nav">
  <li>
    <a ui-sref="staff.dashboard" ng-class="{ active: $state.includes('staff.dashboard') }">
      <i class="fa fa-th"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a ui-sref="companies.list" ng-class="{ active: $state.includes('companies') }">
      <i class="fa fa-building"></i>
      <span>Companies</span>
    </a>
  </li>
  <li>
    <a ui-sref="users.list" ng-class="{ active: $state.includes('users') }">
      <i class="fa fa-user"></i>
      <span>Users</span>
    </a>
  </li>
</ul>
