<div class="content">
  <div class="content-body">
    <header class="content-title-header">
      <h1 class="content-heading form-heading"><strong>Browse</strong> through the companies</h1>
      <div class="content-sub-heading">
        Look through the list of available companies on Bridge.
      </div>
    </header>

    <div class="list-search has-line-after job-search">
      <form class="search-block" ng-submit="updateSearchQuery()" novalidate>
        <div class="search-input-block">
          <div class="search-icon" ng-if="!suggestionsLoading"><i class="fa fa-search"></i></div>
          <div class="search-input-loading-icon" ng-if="suggestionsLoading"><i class="fa fa-refresh fa-spin"></i></div>

          <input type="text" class="form-control input-lg search-input" ng-model="search.s" placeholder="Search by company name or location"
                 auto-focus
                 ui-typeahead="searchQuery for searchQuery in suggestSearch($viewValue)"
                 typeahead-on-select="onSuggestionSelected($item, $model, $label)"
                 typeahead-loading="suggestionsLoading">
          <div class="search-clear-btn" ng-click="clearSearch()" bs-tooltip title="Clear search" ng-if="search.s"><i class="fa fa-times"></i></div>
        </div>
        <div class="search-button-block">
          <button type="submit" class="btn btn-primary btn-lg search-btn">Search</button>
        </div>
      </form>
    </div>

    <div class="filter-options-block" ng-if="showFilterOptions()">
      <span class="filter-reset-link">
        <span class="filter-reset-link-icon"><i class="fa fa-times"></i></span>
        <a ui-sref="candidate.jobs.list" ui-sref-opts="{ inherit: false, reload: true }" class="link-underline">Clear filters</a>
      </span>
    </div>

    <div class="list-with-sidebar has-cover list-loading-container">

      <!-- List main -->
      <div class="list-main list-blocks companies-list">
        <div class="list-loading-container">
          <div class="loading-indicator-cover semi-transparent align-top" ng-class="{ 'is-active': isListLoading() }">
            <div class="loading-icon"><i class="fa fa-refresh fa-spin"></i></div>
          </div>

          <div class="empty-list-block empty-list-block-lg" ng-if="!companies.length && !isListLoading()">
            <div class="empty-list-icon"><i class="fa fa-building"></i></div>
            <div class="empty-list-msg">
              No companies are found
            </div>
            <div class="empty-list-note">
              Try changing search or filter criteria and try again.
            </div>
          </div>

          <div company-list-item ng-repeat="company in companies | orderBy:orderField" company="company" aspect="candidate"></div>
        </div>

        <div class="pagination" pagination ng-if="showPagination()" ng-model="pagination.currentPage"
             total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" boundary-links="true"
             direction-links="false" rotate="false"></div>
      </div>
      <!-- / List main -->

      <!-- List side-filter -->
      <div ui-view="side-filter" class="list-sidebar list-filters list-filter-side"></div>
      <!-- / List side-filter -->
    </div>
  </div>
</div>
