<div class="stat-dashboard">
  <div class="stat-dashboard-heading"><i class="stat-dashboard-heading-icon fa fa-bar-chart"></i> ITU Bridge basic stats</div>

  <div class="row">
    <div class="col-md-6">
      <!-- Candidate stats -->
      <div class="stat-widget-panel">
        <div class="stat-widget-panel-top">
          <div class="stat-widget-panel-top-heading">
            Candidates
            <span class="stat-widget-panel-top-count">120</span>
          </div>
        </div>

        <div class="stat-widget-panel-icon candidate-stat-widget-panel-icon">
          <i class="fa fa-graduation-cap"></i>
        </div>

        <div class="stat-widget-items">
          <div class="stat-widget-item stat-widget-item-primary">
            <strong>120</strong> candidates total
          </div>
          
          <div class="stat-widget-item-divider"></div>

          <div class="row">
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-eye"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">432</div>
                  <div class="stat-widget-counter-text">visible</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-flag"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">123</div>
                  <div class="stat-widget-counter-text">available</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-newspaper-o"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">44</div>
                  <div class="stat-widget-counter-text">with completed profiles</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-comment"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">432</div>
                  <div class="stat-widget-counter-text">with interviews</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-check"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">999</div>
                  <div class="stat-widget-counter-text">have been hired</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- / Candidate stats -->
    </div>

    <div class="col-md-6">
      <!-- Company stats -->
      <div class="stat-widget-panel">
        <div class="stat-widget-panel-top">
          <div class="stat-widget-panel-top-heading">
            Companies
            <span class="stat-widget-panel-top-count">222</span>
          </div>
        </div>

        <div class="stat-widget-panel-icon company-stat-widget-panel-icon">
          <i class="fa fa-building"></i>
        </div>

        <div class="stat-widget-items">
          <div class="stat-widget-item stat-widget-item-primary">
            <strong>222</strong> companies total
          </div>
          
          <div class="stat-widget-item-divider"></div>

          <div class="row">
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-circle-o"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">432</div>
                  <div class="stat-widget-counter-text">just created</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-clock-o"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">123</div>
                  <div class="stat-widget-counter-text">pending</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-check"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">44</div>
                  <div class="stat-widget-counter-text">approved</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-briefcase"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">432</div>
                  <div class="stat-widget-counter-text">with jobs posted</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="stat-widget-counter-block">
                <div class="stat-widget-counter-block-icon">
                  <div class="stat-widget-counter-icon"><i class="fa fa-comment"></i></div>
                </div>
                <div class="stat-widget-counter-block-main">
                  <div class="stat-widget-counter-num">999</div>
                  <div class="stat-widget-counter-text">with interviews</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- / Company stats -->
    </div>
  </div>
</div>
