<div class="popover popover-dialog">
  <div class="arrow"></div>
  <h3 class="popover-title">
    Reject Interview
    <a class="pull-right" ng-click="$hide()"><i class="fa fa-times"></i></a>
  </h3>
  <div class="popover-content" style="min-width: 300px">
    You going to reject interview offer. This decision will be final and you will be not able to change it later.
    <div class="form-actions"><button type="button" class="btn btn-danger" ng-click="$hide()">Close</button> <button type="button" class="btn btn-primary" ng-click="reject();$hide()">Reject Interview</button></div>
  </div>
</div>
