<div class="content">
  <div class="options-section">
    <i class="fa fa-arrow-circle-left"></i> <a ui-sref="company.jobs.details.interviews({ jobId: job.id, interviewId: interview.id })" class="link-underline">Back to list</a>

    <div class="pull-right">
      <span ng-if="!interview.job.isPublished() && !interview.isHired()">Cannot edit this interview because the job is not published</span>
      <span ng-if="interview.isHired()"><i class="fa fa-check"></i> You've hired the candidate after this interview</span>

      <div ng-if="interview.canBeSetHired()" dropdown class="confirm-box-inline-dropdown">
        <button type="button" dropdown-toggle class="btn btn-primary btn-sm interview-item-btn uppercase">Candidate hired</button>

        <div dropdown-menu class="dropdown-menu confirm-box confirm-box-right">
          <div class="confirm-box-icon">
            <i class="fa fa-check"></i>
          </div>
          <div class="confirm-box-main">
            <div class="confirm-box-message">
              You are going to mark that you've hired this candidate after successful interview. Are you sure?
            </div>
            <div class="confirm-box-buttons">
              <button type="button" class="btn confirm-box-confirm-btn confirm-box-confirm-btn-positive" ng-click="setHired()">Yes</button>
              <button type="button" class="btn confirm-box-cancel-btn">No</button>
            </div>
          </div>
        </div>
      </div>
      
      <div ng-if="interview.canBeCancelled()" dropdown class="confirm-box-inline-dropdown">
        <button type="button" dropdown-toggle class="btn btn-danger btn-sm interview-item-btn uppercase">Cancel</button>

        <div dropdown-menu class="dropdown-menu confirm-box confirm-box-right">
          <div class="confirm-box-icon">
            <i class="fa fa-times"></i>
          </div>
          <div class="confirm-box-main">
            <div class="confirm-box-message">
              You are going to cancel this interview. This action cannot be undone. Are you sure?
            </div>
            <div class="confirm-box-buttons">
              <button type="button" class="btn confirm-box-confirm-btn" ng-click="cancel()">Yes, cancel</button>
              <button type="button" class="btn confirm-box-cancel-btn">No</button>
            </div>
          </div>
        </div>
      </div>

      <a ui-sref="company.job-interview-edit({ jobId: job.id, interviewId: interview.id })" ng-if="interview.canBeEdited()"
         bs-tooltip title="Edit this interview" class="btn icon-btn">
        <i class="fa fa-pencil"></i>
      </a>
    </div>
  </div>

  <div class="content-body content-padded">
    <div interview-overview interview="interview" job="job" company="company" aspect="company"></div>
  </div>
</div>
