<div class="modal-dialog modalbox-dialog modal-sm company-details-modal">
  <div class="modal-content">
    <div class="modal-body">

      <div class="company-summary">
        <div class="company-summary-top">
          <div class="company-brand-logo-block">
            <div class="company-brand-logo">
              <img src="media/itu-brand-logo.png" />
              <!-- <div class="company-brand-logo-placeholder"></div> -->
            </div>
          </div>
          <div class="company-summary-top-main">
            <span class="company-name">International Technological University</span>
            <div class="company-location"><i class="fa fa-map-marker"></i> San Jose, California, USA</div>
            <div class="company-quote">
              <div class="company-quote-header">
                Motto:
              </div>
              <div class="company-quote-body">
                <div class="company-quote-open"><i class="fa fa-quote-left"></i></div>
                <div class="company-quote-text">
                  Global Development Through Silicon Valley Education
                </div>
                <div class="company-quote-close"><i class="fa fa-quote-right"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="company-summary-description">
          <h2>About</h2>
          <p>
            Established in 1994 by Dr. Shu-Park Chan, International Technological University (ITU) provides excellence in education for the future leaders of Silicon Valley corporations, leveraging the best of Silicon Valley’s technology and business models to advance developing economies throughout the world.
          </p>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" ng-click="$dismissModalbox()">Close</button>
    </div>
  </div>
</div>
