<div>
  <div class="row">
    <div class="col-lg-10">
        <input type="hidden" placeholder="+ Add skill" ui-select2="select2skillOptions" ng-model="newSkill" ng-change="addSkillOrRecord(newSkill)" class="form-control skill-search-global">
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-default btn-block" ng-click="showSkillsOverview()">Overview all skills</button>
    </div>
  </div>


  <div class="resume-skills">
    <!-- Skills category -->
    <div class="resume-skills-section" ng-repeat="skillCategoryRecord in skillCategoryRecords | orderBy: 'position'">
      <div class="resume-skills-section-heading draggable"
           data-ui-draggable="true"
           drag-channel="categories"
           ui-on-drop="onDropCategory($event,$data,skillCategoryRecord)"
           on-drop-success="dropSuccessCategoryHandler($event,$index,skillCategoryRecord)"
           drop-channel="categories"
           drag="skillCategoryRecord">
        {{ ::skillCategoryRecord.skillCategoryName }}
      </div>
      <div class="resume-skills-section-body">
        <table ng-if="skillCategoryRecord.skillRecords" class="table resume-skills-table">
          <tbody>
            <tr ng-repeat="skillRecord in skillCategoryRecord.skillRecords | orderBy: 'position' track by skillRecord.id">
              <td>
                <div class="resume-skill draggable"
                     data-ui-draggable="true"
                     drag-channel="category{{::skillCategoryRecord.skillCategoryId}}skills"
                     ui-on-drop="onDropSkill($event,$data,skillRecord)"
                     on-drop-success="dropSuccessSkillHandler($event,$index,skillRecord)"
                     drop-channel="category{{::skillCategoryRecord.skillCategoryId}}skills"
                     drag="skillRecord"
                     drag-hover-class="dragdrophover">
                  {{ skillRecord.skillName }}
                </div>
              </td>
              <td class="col-skill-experience" ng-if="isForJob()">
                <div class="select-control-flat">
                  <select ng-model="skillRecord.yearsOfExperience" ng-change="updateSkillRecord(skillRecord)">
                    <option ng-repeat="n in [] | range:20" ng-pluralize count="$index + 1" when="{'one': '1 year', 'other': '{} years'}" value="{{$index+1}}" ng-selected="($index+1) == skillRecord.yearsOfExperience"></option>
                  </select>
                </div>
              </td>
              <td class="col-skill-level" ng-if="isForJob()">
                <div class="select-control-flat">
                  <select ng-model="skillRecord.level" ng-change="updateSkillRecord(skillRecord)"
                          ng-options="level.value as level.name for level in skillLevels"></select>
                </div>
              </td>
              <td class="col-featured" ng-if="isForJob()">
                <label class="featured-checkbox" bs-tooltip title="Mark as featured" ng-class="{ active: skillRecord.isFeatured }">
                  <input type="checkbox" ng-model="skillRecord.isFeatured" ng-change="updateSkillRecord(skillRecord)" />
                  <span>Featured</span>
                </label>
              </td>
              <td class="col-skill-options">
                <button type="button" ng-click="removeSkillRecord(skillRecord, skillCategoryRecord)" class="btn icon-btn btn-icon-icon-lg btn-xs"><i class="fa fa-times-circle"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- / Skills category -->
  </div>

</div>
