/* CSS3 Transforms mixins */

@mixin transform($transformation) {
  -webkit-transform: $transformation;
      -ms-transform: $transformation; // IE9 only
       -o-transform: $transformation;
          transform: $transformation;
}
